# Ignored Folders
_Work_Area/
tools/*
cfg/

# Compiled ROM binaries, lists, objects, and scripts
*.bin
*.cim
*.lst
*.hex
*.bat
*.tmp
*.py
*.txt
*Ω*

# Exceptions for required tools (These WILL be tracked)
!tools/slice.ps1
!tools/zmac.exe

# Exceptions for required scripts (These WILL be tracked)
!src/build.bat

# OS generated hidden files
.DS_Store
Thumbs.db